[user]
	email = rawoul@gmail.com
	name = Arnaud Vrac
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
	interative = auto
[core]
	editor = vim
	autocrlf = input
	quotePath = false
	commitGraph = true
[pager]
	branch = more
[gui]
	fontdiff = -family proggysquare -size 8 -weight normal -slant roman -underline 0 -overstrike 0
[log]
	date = local
[alias]
	st = status
	ci = commit
	ri = rebase --interactive --autosquash
	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	cp = cherry-pick
	activity = for-each-ref --sort='committerdate' --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[rerere]
	enabled = true
	autoupdate = true
[merge]
	tool = vimdiff
[rebase]
	stat = true
[push]
	default = tracking
[pull]
	rebase = true
	twohead = ort
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = rawoul@gmail.com
	smtpServerPort = 587
	#from = Arnaud Vrac <rawoul@gmail.com>
	envelopeSender = rawoul@gmail.com
	suppresscc = self
[http]
	cookiefile = /home/rawoul/.gitcookies
	followRedirects = true
[diff]
	renameLimit = 5000
[receive]
	advertisePushOptions = true
[gc]
	writeCommitGraph = true
