[Desktop Entry]
Type=Application
Exec=urxvtd
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=urxvtd
Name=urxvtd
Comment[en_US]=
Comment=
