* {
    font-family: Iosevka SS02 Medium, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
    color: #ffffff;
}

window#waybar {
    border-top: 3px solid #292929;
    background-color: rgb(16, 16, 16);
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    border-top: 3px solid transparent;
    padding: 0 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    border-top: 3px solid rgb(255, 0, 0);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#scratchpad {
    border-top: 3px solid rgb(255, 0, 0);
}

#workspaces button.focused {
    border-top: 3px solid rgb(217, 216, 216);
}

#workspaces button.urgent {
    color: rgba(238, 46, 36, 1);
    background-color: #eb4d4b;
}

#mode {
    border-top: 3px solid rgb(255, 0, 0);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#clock,
#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-weather,
#scratchpad,
#custom-media {
    margin: 0px 5px;
}

/*
#pulseaudio:not(.source-muted) {
    background-color: #ff0000;
}
*/

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color: rgba(238, 46, 36, 1);
}
